@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 90%;
  margin: auto;
}

.flexsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexcn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.paddingtb {
  padding: 40px 0;
}

.paddingsmall {
  padding: 20px 0;
}

li,
ul {
  list-style: none;
}

header .navbar {
  position: absolute;
  display: block;
  background-color: green;
  left: 0;
  top: 200px !important;
  width: 100%;
  height: 45vh;
  z-index: 5;
  padding: 50px;
}

/* .row {
  width: 50%;
} */

.images {
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 15px;
}
